<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" placeholder="Put you title here" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea placeholder="What happened there?" required></textarea>
    </div>
    <div class="form-group">
        <label for="imagem">Post the photo that tagged the most</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>