* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #dec129;
}

/* form */
form {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea {
    padding: 0.9em;
    color: #777;
    font-size: 0.8em;
    border-radius: 0.5em;
    border: transparent;
    background-color: #f5f5f5;
    outline: #f5f5f5;
}

.form-group textarea {
    height: 110px;
    resize: none;
}

input[type="submit"] {
    background-color: #dec129;
    border: 1px solid transparent;
    border-radius: 0.3em;
    padding: 0.6em 1em;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #c5a401;
}

.validation-error p {
    color: #dc3545;
    margin-top: .4em;
    border-left: 3px solid #dc3545;
    padding-left: .2em;
    font-size: 12px;
}